[buildout]
develop = .
parts = test checker coverage i18n

[test]
recipe = zc.recipe.testrunner
eggs = z3c.password [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/password

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[i18n]
recipe = lovely.recipe:i18n
eggs =
  zope.i18n
  z3c.password
package = z3c.password
domain = z3c.password
location = src/z3c/password
output = locales
zcml =
  <include package="zope.i18n" file="meta.zcml" />
  <include package="z3c.password" />
