[buildout]
develop = .
parts = test checker coverage-test coverage-report i18n

[test]
recipe = zc.recipe.testrunner
eggs = z3c.password [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/password

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.password [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[i18n]
recipe = z3c.recipe.i18n:i18n
eggs =
  zope.i18n
  z3c.password
  zope.configuration
  zope.app.applicationcontrol
  zope.app.appsetup
  zope.tal
packages = z3c.password
domain = z3c.password
location = src/z3c/password
output = src/z3c/password/locales
zcml =
  <include package="zope.i18n" file="meta.zcml" />
  <include package="z3c.password" />
